.appContainer {
  z-index: 1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  height: 95vh;
  width: 75vw;
  box-shadow: 0 0 0.1rem black;
  display: flex;
}
