.background {
  position: absolute;
  z-index: -10;
}

.background::before {
  content: " ";
  display: block;
  height: 13vh;
  width: 100vw;
  background-color: #00a884;
  position: inherit;
}

.background::after {
  display: block;
  content: " ";
  height: 87vh;
  width: 100vw;
  top: 13vh;
  background-color: #eae6df;
  position: inherit;
}
